* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #e0eafc, #cfdef3);
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  font-family: "League Spartan", sans-serif;
  a {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}
